@model int

<a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@Model">Edit</a>
<a class="btn btn-sm btn-success" asp-action="Details" asp-route-id="@Model">Details</a>
<a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@Model">Delete</a>

@*<partial name="~/Views/Shared/_EditDetailsDelete.cshtml" />*@   