@model questionBank.Application.Models.Question

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Uddipok" class="control-label"></label>
                <input asp-for="Uddipok" class="form-control" />
                <span asp-validation-for="Uddipok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePosition" class="control-label"></label>
                <input asp-for="ImagePosition" class="form-control" />
                <span asp-validation-for="ImagePosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChapterId" class="control-label"></label>
                <select asp-for="ChapterId" class="form-control" asp-items="ViewBag.ChapterId"></select>
                <span asp-validation-for="ChapterId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
      
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
