@using questionBank.Application.ViewModel

@model MakeQuestionVM

<div class="row pt-2">
    <div class="offset-md-3 col-md-6">
        <h4 class="text-center">Name of the Institute</h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <h5 class="text-md-end col-form-label">Exam Type</h5>
    </div>
    <div class="col-md-2 text-md-start">
        <select class="form-control">
            <option value="1"> Class Test </option>
            <option value="2"> Monthly Exam </option>
            <option value="3"> Yearly Exam </option>
        </select>
    </div>
</div>
<hr />
<form asp-action="MakeQuestion" asp-controller="Questions" method="post">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-text col-md-2">Academic Class</span>
                <select asp-for="AcademicClassId" class="form-control" asp-items="ViewBag.AcademicClassId">
                    <option selected disabled>Select Class</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-text">Academic Subjects</span>
                <select asp-for="AcademicSubjectId" class="form-control">
                    <option selected disabled>Select Class First</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-text">Chapter</span>
                <select asp-for="ChapterId" class="form-control">
                    <option value="1">Select Subject First</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-text">Marks</span>
                <select class="form-control" asp-for="Marks">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
    </div><br />
    <div class="row">
        <div class="offset-md-5 col-md-2">
            <button type="submit" class="btn btn-info btn-lg">Make Question</button>
        </div>
    </div>
</form>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('#AcademicClassId').change(function () {
                let classId = $('#AcademicClassId option:selected').val();
                $.ajax({
                    url: '/Questions/SelectSubjectByClassId?classId=' + classId,
                    method: 'Post',
                    type: 'JSON',
                    success: function (data) {
                        $('#AcademicSubjectId').empty();
                        var op = '<option disabled selected>Select Subject</option>';
                        $('#AcademicSubjectId').append(op);
                        $.each(data, function (i, obj) {
                            var op = "<option value='" + obj.id + "'>" + obj.subjectName + "</option>";
                            $('#AcademicSubjectId').append(op);
                        });
                    },
                    error: function () { }
                });
            });

            $('#AcademicSubjectId').change(function () {
                let subjectId = $('#AcademicSubjectId option:selected').val();
                $.ajax({
                    url: '/Questions/SelectChapterBySubjectId?SubjectId=' + subjectId,
                    method: 'Post',
                    type: 'JSON',
                    success: function (data) {
                        $('#ChapterId').empty();
                        var op = '<option disabled selected>Select Chapter</option>';
                        var op = '<option value="0">All Chapter</option>';
                        $('#ChapterId').append(op);
                        $.each(data, function (i, obj) {
                            console.log(obj);
                            var op = "<option value='" + obj.id + "'>" + obj.chapterName + "</option>";
                            $('#ChapterId').append(op);
                        });
                    },
                    error: function () { }
                });
            });


        });
    </script>
}