@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This application will help you to create instant question from any subject and specific chapter or full book.</p>
</div>
